/x64
/WordFinder/x64
.vs/WordFinder/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/WordFinder/CopilotIndices/17.14.995.13737/SemanticSymbols.db
.vs/WordFinder/FileContentIndex/96d2bd7b-18c1-4983-85af-e24be59cc70d.vsidx
.vs/WordFinder/v17/.suo
.vs/WordFinder/v17/Browse.VC.db
.vs/WordFinder/v17/DocumentLayout.json
.vs/WordFinder/v17/ipch/AutoPCH/bdac972da4248739/WORDFINDER.ipch
.vs/WordFinder/v17/Solution.VC.db
